.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.qoder/
*.xcodeproj
!default.xcodeproj
*.xcworkspace
!default.xcworkspace
